<?xml version="1.0" encoding="utf-8"?><LevelConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<levels>
		<Level>
			<subLevels>
				<SubLevel>
				<minObjectsToLook>1</minObjectsToLook>
				<maxObjectsToLook>1</maxObjectsToLook>
				<minObjectsQuantity>1</minObjectsQuantity>
				<maxObjectsQuantity>2</maxObjectsQuantity>
				<availableObjects>
					<string>Cube</string>
					<string>Cylinder</string>
				</availableObjects>
				</SubLevel>
				<SubLevel>
				<minObjectsToLook>1</minObjectsToLook>
				<maxObjectsToLook>2</maxObjectsToLook>
				<minObjectsQuantity>1</minObjectsQuantity>
				<maxObjectsQuantity>3</maxObjectsQuantity>
				<availableObjects>
					<string>Butterfly</string>
					<string>Sphere</string>
				</availableObjects>
				</SubLevel>
			</subLevels>
		</Level>
		<Level>
			<subLevels>
				<SubLevel>
				<minObjectsToLook>2</minObjectsToLook>
				<maxObjectsToLook>2</maxObjectsToLook>
				<minObjectsQuantity>1</minObjectsQuantity>
				<maxObjectsQuantity>3</maxObjectsQuantity>
				<availableObjects>
					<string>Capsule</string>
					<string>Cube</string>
				</availableObjects>
				</SubLevel>
			</subLevels>
		</Level>
		<Level>
			<subLevels>
				<SubLevel>
				<minObjectsToLook>2</minObjectsToLook>
				<maxObjectsToLook>3</maxObjectsToLook>
				<minObjectsQuantity>2</minObjectsQuantity>
				<maxObjectsQuantity>3</maxObjectsQuantity>
				<availableObjects>
					<string>Butterfly</string>
					<string>Sphere</string>
				</availableObjects>
				</SubLevel>
			</subLevels>
		</Level>
	</levels>
</LevelConfiguration>