<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>577756894991-e58q8jjqk2gb3m8367ljqi5pcdvktm4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577756894991-e58q8jjqk2gb3m8367ljqi5pcdvktm4t</string>
	<key>API_KEY</key>
	<string>AIzaSyATLD9RV0ivPWpuQJgsMo5v-skEqYLrGdc</string>
	<key>GCM_SENDER_ID</key>
	<string>577756894991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Pixframestudios.towiisland</string>
	<key>PROJECT_ID</key>
	<string>towi-island</string>
	<key>STORAGE_BUCKET</key>
	<string>towi-island.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577756894991:ios:359e721d105f037b</string>
	<key>DATABASE_URL</key>
	<string>https://towi-island.firebaseio.com</string>
</dict>
</plist>